#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  max-height: 17.5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.responsiveContainer {
  max-width: 1280px !important;
  flex-direction: column !important;
}

.responsiveTextContainer {
  max-width: 90vw !important;
}

.autocompleteContainer {
  width: 90%;
  max-width: 600px;
  
  /* or your content's ideal max width */
}

.autocompleteList {
  width: 77.5%;
  max-width: 600px;
  /* or your content's ideal max width */
  height: 100px !important;
}

.autocompleteList::-webkit-scrollbar {
  width: 6px;
  /* Makes the scrollbar thinner */
  height: 6px;
  /* For horizontal scrollbars (optional) */
}

.autocompleteItem:hover {
  cursor: pointer !important;
}

.autocompleteContainer,
input {
  border-radius: 10px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input-box {
  width: 25%;
  border-radius: 5px;
  box-shadow: none !important;
  border: 2px solid #888;
  padding: 10px;
}

#navbar-autocomplete>.w-100>ul {
  width: 40vw !important;
  padding: 1em !important;
}

#searchBooks > div > .autocompleteList {
  height: 200px !important;
}

.right-0 {
  right: 0% !important;
}

.right-10 {
  right: 10% !important;
}

.mw-text {
  font-family: "Roboto Serif", serif;
}

.mw-normal {
  font-size: 1rem;
}

.mw-small {
  font-size: 75%;
}

.mw-body {
  font-family: "Roboto", sans-serif;
}

.mw-link {
  font-weight: bolder;
}

.mw-header {
  font-size: 2em !important;
  font-weight: bold;
  margin-bottom: 0em;
  padding: 0;
}

.mw-subheader {
  font-size: 1.5em !important;
  font-weight: normal;
  margin-bottom: -1em;
  padding: 0;
}

.mw-subheader-subtitle {
  font-size: 1.1em !important;
  font-weight: lighter;
  margin-bottom: -1em;
  padding: 0;
}

.mw-subheader.m-1 {
  margin: 1em !important;
}

.mw-subheader-subtitle-sm {
  font-size: 0.9em !important;
  font-weight: lighter;
  padding: 0;
}

.mw-bold-small-header {
  font-size: 125% !important;
  font-weight: bolder;
  padding: 0;
}


#tools {
  justify-content: center !important;
}

#tools>.tool-item:hover {
  text-decoration: underline;
  filter: drop-shadow(0 0 2em #61dafbaa);

}

#tools>.tool-item>p {
  cursor: pointer;
}

#tools>.tool-item>svg:hover {
  cursor: pointer;
}

.lng-item {
  width: 24%;
}

.globeContainer {
  flex-direction: column !important;
}

.wikipage>*:first-child {
  order: 2 !important;
  width: 90%;
}

.responsiveContainer.wikipage>*:nth-child(2) {
  order: -1 !important;
  width: 90%;
}
iframe#ai-assistant {
    width: unset !important;
    height: unset !important;
    min-width: 90vw !important;
    min-height: 90vh !important;
  }

@media (min-width: 768px) {
  #root {
    padding: unset;
  }

  .logo {
    max-height: 25em;
  }

  .responsiveContainer {
    flex-direction: row !important;
    position: relative;
    /* width: 80vw; */
  }

  .responsiveContainer.wikipage {
    flex-direction: row !important;
  }

  .responsiveContainer.wikipage>*:first-child {
    width: 65%;
    order: unset !important;
  }

  .responsiveContainer.wikipage>*:nth-child(2) {
    width: 32.5%;
    order: unset !important;
  }

  .autocompleteContainer {
    width: 70%;
    max-width: 700px;
    /* or your content's ideal max width */
  }

  .autocompleteList {
    width: 70%;
    max-width: 700px;
    /* or your content's ideal max width */
    height: 150px !important;
  }

  #language-links {
    /* padding-left: 2.75rem !important; */
  }

  #tools {
    justify-content: start !important;
    padding-left: 2.75rem !important;
  }
  /* .lng-item {
    position: absolute;
  } */
  /* .lng-item:nth-child(1) { left: 5%; top: 20% }
  .lng-item:nth-child(2) { left: 15%; top: 15% }
  .lng-item:nth-child(3) { left: 10%; top: 10% }
  .lng-item:nth-child(4) { left: 15%; top: 5% }
  .lng-item:nth-child(5) { left: 20%; top: 0% } */
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


@media(min-width: 900px) {
  .lng-item {
    width: unset;
  }

  .globeContainer {
    flex-direction: row !important;
  }

  .responsiveTextContainer {
    max-width: 95vw !important;
  }

  .autocompleteContainer {
    width: 50%;
    max-width: 1000px;
  }

  .autocompleteList {
    width: 50%;
    max-width: 1000px;
  }

  #tools {
    padding-left: 0rem !important;
  }
}

@media (min-width: 1024px) {

  .responsiveTextContainer {
    max-width: 90vw !important;
  }

  .responsiveContainer.wikipage>*:first-child {
    width: 47.5%;
    order: unset !important;
  }

  .responsiveContainer.wikipage>*:nth-child(2) {
    width: 47.5%;
    order: unset !important;
  }
   /* iframe#ai-assistant {
    width: 1000px !important;
   } */
}

@media (min-width: 1200px) {
  iframe#ai-assistant {
    min-width: 60vw !important;
  }
}

@media(min-width: 900px), (max-width: 1350px) {
  .lng-item:last-child, .lng-item:nth-last-child(2) {
    display: none;
  }
  
}

@media(min-width: 1350px) {
  .lng-item:last-child, .lng-item:nth-last-child(2) {
    display: initial;
  }
  
}

@media (min-width: 2200px) {

  .responsiveTextContainer {
    max-width: 80vw !important;
  }
  
  .autocompleteContainer {
    width: 30%;
    max-width: 1000px;
  }

  .autocompleteList {
    width: 30%;
    max-width: 1000px;
  }
  /* iframe#ai-assistant {
    width: 1200px !important;
  } */
}

#editor {
  font-family: "Roboto Serif", serif !important;
  font-weight: normal !important;
}

#editor > * {
  color: #000000 !important;
}

.mw-donation-form {
  width: 100%;
}